#particles-js {
    background: #1a222c;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }
  
  #particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
  }
  
  .header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%)
  }
  
  .header .site-title {
    font-size: 30px;
    display: block;
    line-height: 1;
    color: #fff
  }
  
  @media only screen and (min-width:550px) {
    .header .site-title {
      margin: 0;
      font-size: 50px
    }
  }
  
  .header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
  }
  
  @media only screen and (min-width:550px) {
    .header .site-description {
      font-size: 20px
    }
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(26, 34, 44, 0.8);
    border-radius: 20px 20px 0 0;
    backdrop-filter: blur(3px);
    text-align: center;
    color: #fff
  }
  
  .footer .love {
    color: red
  }
  
  .footer p {
    margin: 16px;
    margin-bottom: 0px;
  }
  
  .footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
  }
  
  .page-content {
    left: 0;
    right: 0;
    max-width: 650px;
    min-width: 310px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }
  
  .page-content h3 {
    margin-top: 0px;
  }
  
  section {
    color: #fff;
    background: rgba(20, 26, 34, 0.8);
    border-radius: 25px;
    backdrop-filter: blur(3px);
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #b6b6b6;
    font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
  }
  
  td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
  }
  
  a {
    color: #ff0000;
    font-weight: 400;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff9b9b;
  }