/*! normalize.css 2012-02-07T12:37 UTC - https://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
     display: block;
 }

 /*
  * Corrects inline-block display not defined in IE6/7/8/9 & FF3
  */

 audio,
 canvas,
 video {
     display: inline-block;
     *display: inline;
     *zoom: 1;
 }

 /*
  * Prevents modern browsers from displaying 'audio' without controls
  */

 audio:not([controls]) {
     display: none;
 }

 /*
  * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
  * Known issue: no IE6 support
  */

 [hidden] {
     display: none;
 }


 /* =============================================================================
    Base
    ========================================================================== */

 /*
  * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
  *    http://clagnut.com/blog/348/#c790
  * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
  *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
  */

 html {
     font-size: 100%; /* 1 */
     -webkit-text-size-adjust: 100%; /* 2 */
     -ms-text-size-adjust: 100%; /* 2 */
 }

 /*
  * Addresses font-family inconsistency between 'textarea' and other form elements.
  */

 html,
 button,
 input,
 select,
 textarea {
     font-family: sans-serif;
 }

 /*
  * Addresses margins handled incorrectly in IE6/7
  */

 body {
     margin: 0;
 }


 /* =============================================================================
    Links
    ========================================================================== */

 /*
  * Addresses outline displayed oddly in Chrome
  */

 a:focus {
     outline: thin dotted;
 }

 /*
  * Improves readability when focused and also mouse hovered in all browsers
  * people.opera.com/patrickl/experiments/keyboard/test
  */

 a:hover,
 a:active {
     outline: 0;
 }


 /* =============================================================================
    Typography
    ========================================================================== */

 /*
  * Addresses font sizes and margins set differently in IE6/7
  * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
  */

 h1 {
     font-size: 2em;
     margin: 0.67em 0;
 }

 h2 {
     font-size: 1.5em;
     margin: 0.83em 0;
 }

 h3 {
     font-size: 1.17em;
     margin: 1em 0;
 }

 h4 {
     font-size: 1em;
     margin: 1.33em 0;
 }

 h5 {
     font-size: 0.83em;
     margin: 1.67em 0;
 }

 h6 {
     font-size: 0.75em;
     margin: 2.33em 0;
 }

 /*
  * Addresses styling not present in IE7/8/9, S5, Chrome
  */

 abbr[title] {
     border-bottom: 1px dotted;
 }

 /*
  * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
 */

 b,
 strong {
     font-weight: bold;
 }

 blockquote {
     margin: 1em 40px;
 }

 /*
  * Addresses styling not present in S5, Chrome
  */

 dfn {
     font-style: italic;
 }

 /*
  * Addresses styling not present in IE6/7/8/9
  */

 mark {
     background: #ff0;
     color: #000;
 }

 /*
  * Addresses margins set differently in IE6/7
  */

 p,
 pre {
     margin: 1em 0;
 }

 /*
  * Corrects font family set oddly in IE6, S4/5, Chrome
  * en.wikipedia.org/wiki/User:Davidgothberg/Test59
  */

 pre,
 code,
 kbd,
 samp {
     font-family: monospace, serif;
     _font-family: 'courier new', monospace;
     font-size: 1em;
 }

 /*
  * 1. Addresses CSS quotes not supported in IE6/7
  * 2. Addresses quote property not supported in S4
  */

 /* 1 */

 q {
     quotes: none;
 }